---
interface Props {
  title: string;
  description: string;
  image: string;
  imageAlt: string;
  reverse?: boolean;
}

const { title, description, image, imageAlt, reverse = false } = Astro.props;
---

<div
  class:list={[
    'flex flex-col gap-6 md:gap-10 items-center my-10',
    reverse ? 'md:flex-row-reverse' : 'md:flex-row',
  ]}
>
  <div class="md:w-1/2">
    <img
      src={image}
      alt={imageAlt}
      class="rounded-lg shadow-xl w-full cursor-zoom-in"
      data-lightbox
    />
  </div>
  <div class="md:w-1/2">
    <h3 class="text-xl font-bold text-lightpurple mb-3">{title}</h3>
    <p class="text-gray-200 leading-relaxed">{description}</p>
  </div>
</div>
